/* write css here. */

.carousel-indicators {
    display:none;
}

.well {
    background-color:;
}

#profilepic {
    position:static;
    max-width:70%;
    height:auto;
}

#result-type {
    color:red;   
}
